snippet idl "import x from lodash/x" b
import $1 from "lodash/$1";
endsnippet

snippet id "import x from y" b
import $1 from "$2";
endsnippet

snippet in "import {x} from y" b
import {$1} from "$2";
endsnippet

snippet en "export {x} from y" b
export {$1} from "$2";
endsnippet
